.sidebar-desktop {
  width: 200px;
  background-color: #3a3a3a;
  color: white;
  padding: 28px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.sidebar-mobile {
  display: none;
}

.sidebar-desktop h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.checkbox-group input {
  margin-right: 10px;
}

.toggle-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .toggle-button {
    display: block;
  }
  .sidebar-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .checkbox-group label {
    font-size: 14px;
  }
  .sidebar-mobile {
    position: relative;
    display: inline-block;
  }
  .kebab-menu-button {
    background: #333;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 100;
  }

  .dropdown-menu h3 {
    margin: 0 0 10px;
    font-size: 16px;
  }

  .dropdown-menu label {
    display: block;
    margin-bottom: 5px;
  }

  .dropdown-menu button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    margin: 10px 4px;
  }

  .dropdown-menu button:hover {
    background-color: #e0e0e0;
  }

  .dropdown-menu input[type='checkbox'] {
    margin-right: 10px;
  }
}

.clear-button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  text-decoration: underline !important;
  text-align: left !important;
  padding: 0 !important;
  color: #fff;
}
