.table-wrapper {
  width: 100%;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-header {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

@media only screen and (max-width: 768px) {
  .table-header {
    table-layout: auto;
  }
}

.table-body-scroll {
  max-height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: transform 0.3s ease;
}

.table-body {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 12px;
}

th,
td {
  padding: 8px 15px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid var(--color-gray-300);
  word-wrap: break-word;
  min-width: 100px;
}

.table-body td {
  padding-left: 24px;
}

th {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--color-gray-100);
}

tr:nth-child(odd) {
  background-color: var(--color-primary);
}

.loading {
  text-align: center;
  padding: 10px;
}

.severity-text-debug {
  color: var(--color-debug);
}
.severity-text-info {
  color: var(--color-info);
}
.severity-text-warn {
  color: var(--color-warn);
}
.severity-text-error {
  color: var(--color-error);
}
