@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Primary colors */
  --color-primary: #ffffff;
  --color-secondary: #333333;
  --color-primary-dark: #3730a3;

  /* Neutral palette */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-900: #111827;

  /* Semantic colors */
  --color-debug: ##111827;
  --color-warn: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  --color-shadow: rgba(0, 0, 0, 0.2);
}
